{% extends 'layout.html' %}
{% block konten %}
    <h1>BUILD GENSHIN CHARACTERS</h1>
    <form action="/simpan" method="post">
        <input type="text" name="nama" placeholder="Character Name">
        <input type="text" name="artifact" placeholder="Artifact">
        <input type="text" name="weapon" placeholder="Weapon">
        <input type="text" name="main_stat" placeholder="Main Stat">
        <input type="text" name="sub_stat" placeholder="Sub Stat">
        <input type="submit" value="Save">
    </form>    
{% endblock %}
