{% extends 'layout.html' %}

{% block konten %}
    <table border="2">
        <tr>
            <th>Character</th>
            <th>Artifact</th>
            <th>Weapon</th>
            <th>Main Stat</th>
            <th>Sub Stat</th>
        </tr>

        {% for result in data %}
        <tr>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td>{{ result[4] }}</td>
            <td>{{ result[5] }}</td>
            <td> <a href="/update/{{ result[0] }}">UPDATE</a> - <a href="/hapus/{{ result[0] }}">DELETE</a> </td>
        </tr>
        {% endfor %}


    </table>
{% endblock %}