{% extends 'layout.html' %}
{% block konten %}
    <h1>UPDATING BUILD../</h1>
    <form action="/aksiupdate" method="post" >
        <input type="hidden" name="id" placeholder="Enter nama" value="{{ value[0] }}" >
        <input type="text" name="nama" placeholder="Enter character" value="{{ value[1] }}" ><br>
        <input type="text" name="artifact" placeholder="Enter artifact" value="{{ value[2] }}" ><br>
        <input name="weapon" placeholder="Enter weapon" value="{{ value[3] }}" ><br>
        <input name="main_stat" placeholder="Enter mainstat" value="{{ value[4] }}" ><br>
        <input name="sub_stat" placeholder="Enter substat" value="{{ value[5] }}"" ><br>
        <button type="submit">SEND</button>
    </form>
{% endblock %}